* {
  margin: 0;
  padding: 0;
}

video {
  width: 100vw;
  position: absolute;
}

.videoloading {
  position: absolute;
  width: 100vw;
  z-index: 5;
}

/* .svgbox {
  width: 100vw;
  display: flex;
  justify-content: center;
}

svg {
  mix-blend-mode: lighten;
  position: absolute;
  z-index: 2;
  animation: hart 3s forwards;
}

@keyframes hart {
  0% {
    width: 5vw;
  }

  100% {
    width: 500vw;
  }

} */

.hidden {
  display: none;
}

section {
  display: flex;
  position: absolute;
  width: 20vw;
  margin-left: 40vw;
  margin-rigth: 40vw;
  justify-content: space-around;
  bottom: 0;
}

.hoversection {
  position: absolute;
}

img {
  width: 12vw;
  margin-left: -1.5vw;
  margin-right: -1.5vw;
  height: auto;
  border: none;
  cursor: pointer;
}
